@font-face {
	font-family: "Clear Sans";
	src: url('fonts/clearsans-1.00/EOT/ClearSans-Regular.eot'); /* IE9 Compat Modes */
	src: url('fonts/clearsans-1.00/EOT/ClearSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/clearsans-1.00/WOFF/ClearSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
		url('fonts/clearsans-1.00/TTF/ClearSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('fonts/clearsans-1.00/SVG/ClearSans-Regular.svg#"ClearSans-Regular') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: "Clear Sans Thin";
	src: url('fonts/clearsans-1.00/EOT/ClearSans-Thin.eot'); /* IE9 Compat Modes */
	src: url('fonts/clearsans-1.00/EOT/ClearSans-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/clearsans-1.00/WOFF/ClearSans-Thin.woff') format('woff'), /* Pretty Modern Browsers */
		url('fonts/clearsans-1.00/TTF/ClearSans-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('fonts/clearsans-1.00/SVG/ClearSans-Thin.svg#"ClearSans-Regular') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: "Playfair Display SC Bold";
	src: url('fonts/playfair-sc-bold/playfairdisplaysc-bold1-webfont.eot'); /* IE9 Compat Modes */
	src: url('fonts/playfair-sc-bold/playfairdisplaysc-bold1-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/playfair-sc-bold/playfairdisplaysc-bold1-webfont.woff') format('woff'), /* Pretty Modern Browsers */
		url('fonts/playfair-sc-bold/playfairdisplaysc-bold1-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('fonts/playfair-sc-bold/playfairdisplaysc-bold1-webfont.svg#"ClearSans-Regular') format('svg'); /* Legacy iOS */
}

body {
	background: #f7f4ff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjRmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWU3ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f7f4ff 0%, #eae7e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f4ff), color-stop(100%,#eae7e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f4ff 0%,#eae7e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f4ff 0%,#eae7e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f4ff 0%,#eae7e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7f4ff 0%,#eae7e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f4ff', endColorstr='#eae7e5',GradientType=0 ); /* IE6-8 */
	margin : 0px;
	padding : 0px;
}

.fixedWidth {
	width : 1024px;
}

.halfWidth {
	width : 511px;
}

.centered {
	margin-left : auto;
	margin-right : auto;
}

button {
	background-color: transparent;
	border: none;
}

.action {
	display: block;
	width: 150px;
	height : 40px;
	background-color: #33CCCC;
	border-radius: 5px;
}

.action a, .action button {
	font-weight : 100;
	font-size : 22px;
	line-height : 40px;
	color : rgb(247, 250, 253);
	vertical-align: middle;
	display: block;
	width : inherit;
	text-align : center;
	text-decoration : none;
}

.action a:hover, .action button:hover {
	text-decoration : underline;
}

.action a:visited {
	color : rgb(247, 250, 253);
}

.actionWorking {
	display: block;
	width: 146px;
	height : 36px;
	border: 2px solid #f7f4ff;
	border-radius: 5px;
}

/*Main title box*/
.outline {
	border-color : #33CCCC;
	border-width : 5px;
	border-style : solid;
}

.bigOutline {
	width : 350px;
	height : 380px;
	position : absolute;
	top : -5px;
	margin-left : 80px;
}

.mainBox {
	background-color : rgba(85, 85, 85, .7);
	position : absolute;
	top : 0px;
}

.bigBox {
	width : 340px;
	height : 375px;
	margin-left : 5px;
	margin-right : 5px;
}

.mainBox h1 {
	text-align : right;
	line-height : 30px;
	position : relative;
	right : 5px;
	top : 200px;
	margin: 0px;
}

.tealSpan {
	color : #33CCCC;
	font-size : 37px;
	font-family : "Playfair Display SC Bold";
}

.whiteSpan {
	font-size : 40px;
	color : rgb(247, 250, 253);
	font-family : "Clear Sans Thin";
}

#topMain {
	height : 550px;
	background: url('img/workdesk.jpg') no-repeat scroll center top / cover transparent;
}

.viewWrapper {
	margin : 0px;
	padding : 0px;
	width : 100%;
	min-height : 600px;
}

/*Nav bar*/
.navigator{
	height : 68px;
}

#mainNav {
	width : 100%;
	height : 66px;
	z-index: 2;
	margin : 0px;
	border-top-style : solid;
	border-top-color : #555555;
	border-width : 1px;
	border-bottom-style : solid;
	border-bottom-color : #555555;
	background: #f7f4ff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjRmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWU3ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f7f4ff 0%, #eae7e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f4ff), color-stop(100%,#eae7e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f4ff 0%,#eae7e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f4ff 0%,#eae7e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f4ff 0%,#eae7e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7f4ff 0%,#eae7e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f4ff', endColorstr='#eae7e5',GradientType=0 ); /* IE6-8 */
	margin : 0px;
	padding : 0px;
}

.linkWrapper {
	height : 52px;
}

.tinyTagContainer {
	position : relative;
	width : 160px;
	height : 60px;
	overflow : hidden;
	float : left;
	top : -8px;
}

.tinyTag {
	position : relative;
	width : 160px;
	height : 100%;
}

.tinyOutline {
	width : 152px;
	position : relative;
	top : -3px;
	border : 3px solid #33CCCC;
}

.tinyBox {
	position : relative;
	margin-left : 3px;
	margin-right : 3px;
	margin-bottom : 3px;
	background-color : #555555;
	text-align : right;
	padding : 4px;
}

.tinyTealSpan {
	color : #33CCCC;
	font-size : 22px;
	line-height: 16px;
	font-family : "Playfair Display SC Bold";
}

.tinyWhiteSpan {
	font-size : 18px;
	color : #fcf4f2;
	font-family : "Clear Sans Thin";
}

.fixed {
	position : fixed;
	top : 0px;
	right : 0px;
}

.absolute {
	position: absolute;
}

.scrollingNavTop{
	width : 100%;
	height : 8px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjglIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.25) 8%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(8%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.25) 8%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.25) 8%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.25) 8%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.25) 8%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
}

.scrollingNavBottom {
	width : 100%;
	height: 8px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkyJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 92%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(92%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 92%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 92%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 92%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 92%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-8 */
}

#horizontalNav {
	height : 100%;
}

.navLink {
	display : inline-block;
	margin-top : 13px;
	text-align : center;
	width : 190px;
	text-decoration : none;
}

.navLink h2:hover {
	text-decoration : underline;
	cursor : pointer;
}

.navLink a.active {
	color : #33CCCC;
}

#bottomMain {
	margin-top : 0px;
	padding : 0px;
}

#bottomGradient {
	height : 100%;
	margin : 0px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yOCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(0,0,0,.28) 0%, rgba(0,0,0,0.48) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.28))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.28) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.28) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.28) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.28) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#47000000',GradientType=0 ); /* IE6-8 */
}

#bottomContent {
	height : 350px;
	padding-top: 30px;
	padding-bottom : 30px;
}

#bottomContentLeft, #bottomContentRight {
	display: inline-block;
	height : 100%;
}

#bottomContentLeft {
	border-right: 1px solid rgb(136, 136, 136);
}

#bottomContentRight {
	float: right;
	box-shadow: inset 10px 0 10px -10px rgb(150, 150, 150);
}

#bottomContentRight {
	width : 50%;
	height : 100%;
	display: inline-block;
}

#projects {
	height : 680px;
	margin-top: 40px;
	margin-bottom: 60px;
	background-image : url('img/BottomMainBackground.png');
	box-shadow: 0px -10px 5px rgb(136, 136, 136);
}

.bottomDetailWrapper {
	width : 50%;
	padding-top : 70px;
	float : left;
}

.bottomDetail {
	background-color :  #FFFFFF;
	width : 400px;
	height : 500px;
	padding : 10px;
	margin-left : auto;
	margin-right : auto;
	text-align : justify;
	border : 2px solid #DDDDDD;
	border-radius : 5px;
	box-shadow: 0px 5px 5px rgb(136, 136, 136);
}

.bottomDetailImage{
	height : 200px;
	margin-top : 20px;
}

.bottomDetail img {
	margin-left : auto;
	margin-right : auto;
	display : block;
}

.navLink:hover {
	text-decoration : underline;
	cursor : pointer;
}


/*Text*/
h1, h2, h3 {
	font-family : Arial, Helvetica, sans-serif;
	color: rgb(100, 100, 100);
}

h1 {
	font-size : 30px;
	font-weight : normal;
	color: rgb(100, 100, 100);
	margin : 0px;
	padding : 0px;
}

h2 {
	font-size : 24px;
	font-weight : normal;
	color: rgb(100, 100, 100);
	margin : 0px;
	padding : 0px;
}

h3 {
	font-size : 20px;
	color: rgb(100, 100, 100);
	font-weight : bold;
}

p, span, a, button {
	font-size: 20px;
	font-family : "Clear Sans";
}

#bottomContent h1 {
	display: block;
	width: 80%;
	margin-bottom: 40px;
	margin-left: 25px;
	z-index: 5;
}

#bottomContent p {
	width: 80%;
	margin-left : 40px;
}

#footer {
	margin : 20px;
	font-size : 16px;
	text-align : center;
}

/* Work */
#workIntro {
	padding-top: 60px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 60px;
}

#workCarousel {
	position: relative;
	min-height: 700px;
	display: none;
}

#carouselControls {
	padding: 10px;
	background-color: rgba(85, 85, 85, .7);
}

#carouselNext, #carouselPrev {
	position: absolute;
	top: 500px;
	z-index: 3;
}

#carouselNext {
	right: 200px;
}

#carouselPrev {
	left: 200px;
}

.ion-android-arrow-dropright-circle, .ion-android-arrow-dropleft-circle {
	font-size: 100px;
	color: #33CCCC;
	opacity: .5;
	cursor: default;
}

.ion-android-arrow-dropright-circle:hover, .ion-android-arrow-dropleft-circle:hover {
	opacity: 1;
}

.ponyBackground {
	max-width: 100%;
	max-height: 100%;
	position: relative;
}

img.ponyBackground {
	visibility: hidden;
}

.pony {
	position: absolute;
	z-index: 2;
}

.ponyCaption {
	position: absolute;
	top: 90px;
	right: 200px;
	width: 300px;
	background-color: rgba(85, 85, 85, .7);
	padding: 15px;
}

.ponyCaption h2, .ponyCaption p {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.ponyCaption h2 {
	color: #33CCCC;
	text-align: right;
	padding-bottom: 40px;
}

.ponyCaption p {
	color: rgb(247, 250, 253);
}

/* About */

#bottomAbout {
	padding-bottom: 100px;
}

#bottomAbout p {
	padding: 20px 40px;
}

#bottomAbout h3 {
	padding: 20px 40px;
	font-size: 22px;
}

#aboutHeader {
	height: 140px;
	margin: 40px;
	border-bottom: 1px solid rgb(136, 136, 136);
	box-shadow: 0px 7px 7px -7px rgb(136, 136, 136);
}

#aboutHeader img {
	display: inline-block;
	border: 1px solid rgb(100, 100, 100);
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 5px 5px rgb(136, 136, 136);
	vertical-align: middle;
}

#aboutHeader h1 {
	display: inline-block;
	line-height: 140px;
	vertical-align: middle;
	padding-left : 40px;
}

#testimonial {
	float: right;
	width: 300px;
	margin: 0px;
	padding: 0px;
}

#testimonial p {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 18px;
	color: #33CCCC;
	font-style: italic;
	margin: 0px;
	padding: 15px;
}

.bigQuote {
	font-size: 20px;
}

/* Contact */
#contactMain {
	padding-top: 60px;
	padding-left: 20px;
	padding-right: 20px;
}

#contactMain h1 {
	font-size: 40px;
}

#contactMain h3 {
	font-size: 20px;
	color: #33CCCC;
	display: inline;
}

#contactMe {
	display: inline-block;
	float: right;
	margin-top: 50px;
	padding: 25px;
	background-color: rgba(85, 85, 85, .7);
}

#contactMe a, a:visited {
	color: rgb(247, 250, 253);
	text-decoration: none;
}

#contactMe a:hover {
	color: rgb(247, 250, 253);
	text-decoration: underline;
}

.contactDetail {
	margin-bottom: 15px;
}

.contactDetail span {
	color : rgb(247, 250, 253);
	display: inline;
}

#contactYou {
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-right: 15px;
	padding-bottom: 40px;
	width : 60%;
	border-right: 1px solid rgb(136, 136, 136);
	box-shadow:  10px 0 10px -10px rgb(150, 150, 150);
}

#contactYouForm {
	display: block;
	padding: 25px;
	background-color: rgba(85, 85, 85, .7);
}

.contactYouBlock {
	display: inline-block;
	margin-bottom: 20px;
}

.contactYouBlockMessage {
	margin-bottom: 20px;
}

.fieldTitle {
	color: #33CCCC;
}

.required {
	font-size: 16px;
	float: right;
	color: rgb(247, 250, 253);
}

.contactYouBlock input {
	width: 250px;
}

#contactPhone {
	-moz-appearance: textfield;
}

#contactPhone::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

#contactPhone::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

.contactYouBlockMessage textarea {
	width: 100%;
	height: 300px;
	resize: vertical;
}

.contactStatus {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .5);
}

.contactFeedback {
	display: block;
	position: absolute;
	top: 35%;
	padding: 50px 20px 50px 20px;
	width: 100%;
	font-size: 30px;
	background-color: #555555;
	opacity: 1;
	color: #f7f4ff;
}

.contactFeedbackMessage {
	padding: 20px;
}

#contactFeedbackClose {
	position: relative;
	top: -20px;
	display: inline;
	float: right;
	cursor: pointer;
}

#sendLoader{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.ion-android-sad{
	color: rgb(216, 8, 8);
}

.ion-android-happy{
	color: rgb(3, 191, 110);
}