<div id="bottomAbout">
	<div class="fixedWidth centered">
		<div id="aboutHeader">
			<img src="css/img/headshot.jpg" with=100 height=100 />
			<h1>Get to know me</h1>
		</div>
		<h3>I'm a web developer, and I love making really, really good websites and applications.</h3>
		<p>With a mastery of JavaScript, HTML/HTML5, CSS, and leveraging a slew of modern frameworks and technologies like Angular and Knockout,
		I'm ready to help you build sopohistocated web apps with stylish designs and great user experiences.</p>
		<p>While my sweet spot is front-end development, I've got strong Python skills and plenty of experience using frameworks like Django
		to build apps driven from server-side code.</p>
		<p>Good web design is more than just looking pretty, and it's more than flawless code.
		In today's world of powerful internet applications, you need both of these elements, combined with an intuitive interface that draws users in.
		Without all of these elements, websites and online applications can be frustrating or impossible to use.
		Combine them all, and you'll have an engaging experience that draws users in and keeps them smiling.</p>
		<p>I work closely with my clients from brainstorming to the final keystroke to make sure the design is exactly what they want,
		and I'm great at translating their needs into a user-friendly experience. At the end of the day, I deliver beautiful,
		rock-solid apps that are fun and easy to use.</p>
		<p>Come take a look at my portfolio and history, then get in touch with me for more information about what I can build for you.</p>
		<div class="action centered">
			<a href="#/contact" class="centered">Get in touch</a>
		</div>
	</div>
</div>
