<div id="bottomContact">
	<div class="fixedWidth centered">
		<div id="contactMain">
			<h1>Say hello</h1>
			<p>Go ahead, reach out. I'd love to hear from you. Get in touch with me and find out what I can do for you.</p>
			<div id="contactYou">
				<div id="contactYouForm">
					<div class="contactYouBlock">
						<span class="fieldTitle">Your name:</span>
						<span class="required">Required</span>
						<br/>
						<input id="contactName" type="text" required="true"/>
					</div>
					<br/>
					<div class="contactYouBlock">
						<span class="fieldTitle">Your email:</span>
						<span class="required">Required</span>
						<br/>
						<input id="contactEmail" type="email" required="true"/>
					</div>
					<br/>
					<div class="contactYouBlock">
						<span class="fieldTitle">Your telephone:</span><br/>
						<input id="contactPhone" type="tel" required="false"/>
					</div>
					<br/>
					<div class="contactYouBlockMessage">
						<span class="fieldTitle">What can I help you with?</span>
						<span class="required">Required</span>
						<br/>
						<textarea id="contactMessage"></textarea>
					</div>
					<div class="action">
						<a class="centered">Submit</a>
					</div>
				</div>
			</div>
			<div id="contactMe">
				<div class="contactDetail">
					<h3>Email:</h3>
					<span id="email">d.thompso@yahoo.com</span>
				</div>
				<div class="contactDetail">
					<h3>Telephone:</h3>
					<span id="telephone">(978) 578-8488</span>
				</div>
				<div class="contactDetail">
					<h3>LinkedIn:</h3>
					<span id="linkedIn"><a href="http://www.linkedin.com/pub/daniel-thompson/1b/45" target="_new">View my profile</a></span>
				</div>
			</div>
		</div>
	</div>
</div>