<div id="bottomMain" class="row">
	<div class="gutter col"></div>
	<div id="bottomContentLeft" class="col span_2_of_6">
		<h1>I make awesome web applications. </h1>
		<p>Applications that work are nice. Applications that work great and look amazing are awesome.</p>
		<p>I make awesome applications.</p>
		<div class="action centered">
			<a href="#/work" class="centered">See my work</a>
		</div>
	</div>
	<div id="bottomContentRight" class="col span_2_of_6">
		<h1>Who is this guy?</h1>
		<p>Just an awesome web developer with years of experience making rich web apps.</p>
		<div class="action centered">
			<a href="#/about" class="centered">Meet me</a>
		</div>
	</div>
	<div class="gutter col"></div>
</div>
<div id="projects" class="row">
	<div id="bottomGradient">
		<div class="gutter col"></div>
		<div class="bottomDetailWrapper col span_2_of_6">
			<div class="bottomDetail">
				<div class="bottomDetailImage">
					<img src="css/img/ChartlyLogo275.png" width="275" height="197" alt="Chartly Logo"/>
				</div>
				<hr/>
				<p>Showing data to your users doesn't have to be boring. Chartly is a dynamic, sharp looking utility for creating bar graphs in HTML. With an easy to use interface, great styling, and plenty of configuration options, Chartly makes data modeling fun.</p>
				<div class="action centered">
					<a href="#/" class="centered">Learn more</a>
				</div>
			</div>
		</div>
		<div class="bottomDetailWrapper col span_2_of_6">
			<div class="bottomDetail">
				<div class="bottomDetailImage">
					<img src="css/img/DinDinLogo275.png" width="275" height="171" alt="Din Din Logo"/>
				</div>
				<hr/>
				<p>What's for dinner? Let Din-Din tell you. Plenty of apps help you manage your recipes, but this one makes sure old favorites don't get forgotton and helps you plan meals around one dish. This app is still under construction, but follow our progress and watch for the release.</p>
				<div class="action centered">
					<a href="#/" class="centered">Learn more</a>
				</div>
			</div>
		</div>
		<div class="gutter col"></div>
	</div>
</div>