<div id="bottomMain">
	<div id="bottomGradient">
		<div id="bottomContent" class="fixedWidth centered">
			<h1>I make awesome web applications. </h1>
			<p>Applications that work are nice. Applications that work great and look amazing are awesome. I make awesome applications. </p>
			<p>With several years' experience creating everything from web widgets to large scale business applications, I have tons of experience working on web projects of all sizes. I have solid skills with server-side languages, but my sweet spot is developing rich, data driven applications in JavaScript.</p>
			<p>Take a look at what I've been working on recently. If you see what you like, <a href="#">get in touch with me</a> to learn more about what I can do for you.</p>
		</div>
	</div>
</div>
<div id="projects" class="fixedWidth centered">
<div class="bottomDetailWrapper">
	<div class="bottomDetail">
		<div class="bottomDetailImage">
			<img src="css/img/ChartlyLogo275.png" width="275" height="197" alt="Chartly Logo"/>
		</div>
		<hr/>
		<p>Showing data to your users doesn't have to be boring. Chartly is a dynamic, sharp looking utility for creating bar graphs in HTML. With an easy to use interface, great styling, and plenty of configuration options, Chartly makes data modeling fun.</p>
		<a href="#">Learn more</a>
	</div>
</div>
<div class="bottomDetailWrapper">
	<div class="bottomDetail">
		<div class="bottomDetailImage">
			<img src="css/img/DinDinLogo275.png" width="275" height="171" alt="Din Din Logo"/>
		</div>
		<hr/>
		<p>What's for dinner? Let Din-Din tell you. Plenty of apps help you manage your recipes, but this one makes sure old favorites don't get forgotton and helps you plan meals around one dish. This app is still under construction, but follow our progress and watch for the release.</p>
		<a href="#">Learn more</a>
	</div>
</div>