<div id="bottomWork">
	<div class="fixedWidth centered">
		<div id="workIntro">
			<h1>What I do</h1>
			<p>Here's a little taste of what I can do for you.</p>
			<div class="action centered">
				<a href="#/contact" class="centered">Get in touch</a>
			</div>
		</div>
	</div>
	<ajaxloader></ajaxloader>
	<div id="workCarousel">
		<div id="carouselPrev" data-ng-click="prev()" data-ng-class="{'inactive' : disableCarouselPrev}">
			<span class="ion-android-arrow-dropleft-circle"></span>
		</div>
		<div id="carouselNext" data-ng-click="next()" data-ng-class="{'inactive' : disableCarouselNext}">
			<span class="ion-android-arrow-dropright-circle"></span>
		</div>
		<div class="carousel" data-ng-class="{'focused' : selected}"></div>
	</div>
</div>
