<div id="bottomWork">
	<div id="workCarousel">
		<div class="fixedWidth centered">
			<div>THIS IS A CAROUSEL OMG LOOK AT THE PONIES!!!</div>
			<br/>
			<div id="carouselPrev" data-ng-click="prev()" data-ng-class="{'inactive' : disableCarouselPrev}">prev</div>
			<div class="carouselContainer">
				<div class="carousel" data-ng-class="{'focused' : selected}" data-ng-repeat="slide in slides">
				</div>
			</div>
			<div id="carouselNext" data-ng-click="next()" data-ng-class="{'inactive' : disableCarouselNext}">next</div>
		</div>
	</div>
</div>
